/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 0px;
    /* J'ai suivi la structure et placer ici le logo */
}

nav>ul {
    list-style: none;
}

nav>ul>li {
    display: inline-block;
}

.navlinc {
    padding: 0px 25px;
    /* j'ai fait l'espace entre hebergement et activite */
}

.navlinc:hover {
    border-top: solid 2px rgb(4, 0, 255);
}

form {
    display: flex;
    justify-content: first baseline;
}

.loupe {
    display: none;
    color: #DEEBFF;
}


/* icon loup masques*/
.bouton {
    margin-left: -2px;
    padding: 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: var(--Black, #f7f4f4);
    font-weight: 700;
}

label,
input {
    border: solid var(--Grey, #F2F2F2);
    color: Black;
    text-align: center;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
}

input::placeholder {
    color: black;
}

/* marseil france */
.iconloc {

    border-radius: 15px 0px 0px 15px;
    padding: 15px 16px;
    background-color: rgba(242, 242, 242, 1);
    align-items: flex-start;
    color: black;
    padding-top: 20px;

}

/* icone localisation */

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
    gap: 10px;
}

/* filtte et paragraphe */
.btnfiltres i {
    width: 26px;
    border: 4px 10px 4px 19px;
}

/*  */
.btnfiltres {
    margin: 20px 10px;
    border-radius: 50px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    display: flex;
    height: 35px;
    padding: 4px 19px;
    align-items: center;
    font-weight: bold;

}

/*  le changement de
couleur de fond lors du survol. */
.btnfiltres:hover {
    background-color: var(--blue-light, #DEEBFF);
}

.btninfo {
    display: flex;
    align-items: center;
    justify-content: start;
}

.iconfo {
    margin: 10px 10px;
    border-radius: 50px;
    border: 1px solid var(--grey-tint-2, #D9D9D9);
    height: 24px;
    font-weight: bold;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements-title .section-title {
    display: flex;
    justify-content: start;
    margin: 10px;
    align-self: center;
    margin: 0px 30px 30px 0px;
    font-size: 22px;
    gap: 30px;
}

.hebergements p {
    font-size: 22px;
    font-family: Raleway;
    font-weight: bold;
    align-items: center;
}

.marseil-cards {

    display: flex;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}


.marseil-cards img {
    width: 240px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.marseil-cards .card-title {
    font-size: 16px;
    font-weight: bold;
}

.hebergements .card-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.marseil-cards .euro {
    font-weight: bold;
}

.marseil-cards.ebergements .card-rating {
    width: 14.294px;
    height: 13.25px;
}

.hebergements .affichplus {
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.activites-marseil {
    display: flex;
    gap: 30px;
    margin: 30px 30px 30px 30px;
}

.activités-titre {
    font-size: 22px;
    font-weight: 700;
    font-weight: bold;
    padding: 30PX 30PX 0PX 30PX;
    margin: 30PX 0PX 0PX 0PX;
}

.activites-marseil .card {
    width: 100%;
    height: 439px;
    border-radius: 20px 20px;
    padding: 0px;
}

.activites-marseil img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    padding: 0px;
}

.activites-marseil .card-title {
    font-size: 16px;
    font-weight: bold;
    margin: 18px 19px 20px 19px;
}

.activites-marseil>a {
    width: 25%;
}

.piedpage .piedpage-cadre {
    width: 100%;
    padding: 20px;
    margin: 35px 0px 58px 0px;
    background: var(--Grey, #F2F2F2);
}

.piedpage-cadre {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-content: stretch;
    flex-grow: 1PX;
    margin: 0%
}

.piedpage-cadre>ul {
    list-style: none;
}

.piedpage .piedpage-cadre .element {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
}

.card-titre {
    font-weight: 700;
    font-size: 18px;
}

/* piedpage-cadrefont-weight: bold;  */
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filtres {
        flex-wrap: wrap;
    }

    .btnfiltres {
        margin: 20px -2px;
    }

    h3 {
        width: 100%;
        text-align: start;
        margin: 38px 0px 0px 0px;
    }

    .iconfo {
        margin: -3px 8px -2px -3px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* ... */
    body {
        margin: 0px;
    }

    .main-container {
        padding: 0px;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #logo {
        display: flex;
        padding: 30px 30px 30px 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    nav>ul {
        display: flex;
        margin: 8px 14px -5px 38px;
        padding: 0px 20px 15px 5px;
        gap: 40px;
        justify-content: space-around;
    }

    .loup {
        margin-left: -2px;
        padding: 15px 16px;
        border-radius: 0px 15px 15px 0px;
        border: 1px solid var(--Blue, #0065FC);
        background: var(--Blue, #0065FC);
        color: var(--Black, #f7f4f4);
        font-weight: 700;
    }

    .bouton {
        border-radius: 15px 15px 15px 15px;
        margin-left: -10px;
        border: 4px solid var(--Blue, #0065FC);
    }

    .btnfiltres {
        width: 121px;
        margin: 17px 15px -1px -6px;
    }

    .loupe {
        display: block;
    }

    label,
    input {
        font-size: 1px;
    }


    .filtres {
        margin: 0px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        width: 375px;
    }

    .iconfo {
        width: 33px;
        margin: -9px 15px -1px -2px;
    }

    .btninfo p {
        margin: 35px -6px;
    }

    h3 {
        width: 100%;
        text-align: justify;
        margin: 32px 14px 18px -2px;
    }

    .bouton span {
        display: none;
    }

    .hebergements-and-populaires section {
        background: none;
        border-radius: 0px;
        box-sizing: border-box;
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding: 0px;
        margin: 0px;
    }

    /* .hebergements-and-populaires section {
        margin: -20px;
        padding: 45px;
    } */


    .hebergements .card-subtitle {
        margin: 3px 13px 7px 2px;
    }

    .section-title {
        margin: 5px 17px 11px -13px;
    }

    .populaires-cards .card {
        width: 335PX;
        padding: 0px;
        margin: 20px -5px 5px -9px;
    }

    .hebergements>a {
        width: 315px;
    }

    .hebergements {
        width: 315PX;
    }

    .hebergements .affichplus {
        margin: 35px -15px;
    }

    .populaires {
        background-color: var(--Grey, #F2F2F2) !important;
        padding: 1px;
        margin: 35px 0px 15px 0px;
    }

    .marseil-cards {
        width: 335px;
        display: flex;
        align-items: flex-start;
        align-content: space-between;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        margin: -19px;
    }
    .marseil-cards img {
        width: 335px;
        height: 192px;
        border-radius: 20px 20px 0px 0px;
    }

    .marseil-cards.card {
        width: 335px;
    }

    .marseil-cards.card .card-content {
        height: 335px;
    }

    .marseil-cards .card-title {
        margin: 11px 14px 13px 2px;
    }

    .card img {
        height: 124px;
    }

    .activites-marseil .card {
        width: 315PX;
        height: 183px;
        border-radius: 20px 20px;
        padding: 0px;
    }

    .hebergements-title .section-title {
        margin: 42px 20px 37px -13px;
    }

    .populaires-cards {
        width: 192px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-marseil {
        width: 100%;
        flex-direction: column;
        padding: 5px;
    }

    .activités-titre {
        font-size: 22px;
        font-weight: 700;
        font-weight: bold;
        padding: 0px;
        margin: 13PX 0PX 0PX 16PX;
    }

    .activites-marseil a {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .piedpage-cadre element {
        width: 100%;
    }

    .piedpage .piedpage-cadre {
        display: flex;
        flex-direction: column;
        margin: 65px 9px;
        padding: 0px;
        box-sizing: border-box;
    }


}